*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.abt{
   background: linear-gradient(to bottom, #0b1a36, #1d3a6d, #5b7fb5, #c7d3eb);
    
  }

.about {
    min-height: 100vh;
    padding: 20px 0;
  }
  
.about-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 75%;
    margin-left: 12vw;
  }
    
.about-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
    color: white;
}

.nunesauto-title-span {
  color: #e33434;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-size: 3.2rem; */
}

.about-text.about-intro-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  margin-bottom: 40px; /* Increased margin to separate from the stats */
}

.about-subtitle:first-of-type {
  text-align: center;
  margin: 30px 0 15px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #103666;
}

.about-subtitle:last-of-type {
  text-align: center;
  margin: 30px 0 15px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0000ff;
}

.nunesauto-text {
  color: #e33434;
  font-weight: bold;
}

.about-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.about-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.about-list li {
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

.about-list li strong {
  font-weight: bold;
}

.about-list li:last-child strong {
  color: #0000ff;

}

.about-list li:nth-child(2) strong {
  color: #103666;
}

.about-list li:first-child strong{
  color: #0000ff;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

.stat-item {
  flex: 1;
  padding: 0 10px;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e33434; /* You can adjust this color to your preference */
  margin-bottom: 5px;
}

.stat-label {
  font-size: 1rem;
  color: white;
}