*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brands{
   height: 100vh;
   /* background-color: greenyellow; */
   background: linear-gradient(to bottom, #0b1a36, #1d3a6d, #5b7fb5, #c7d3eb);
}

.brandsHeading{
    font-size: 50px;
    color: rgb(233, 226, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.partsBtn{
    height: 5vh;
    width: 8vw;
}

.partsBtn a{
    text-decoration: none;
    color: black;
}

.allImages{
    margin-top: 5vh;
    /* border: 5px solid black; */
    height: 55vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 2vw;
}

.images{
    border: 2px solid grey;
    border-radius: 12px;
    display: flex;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.image{
    width: 26vw;
    height: 50vh;
}