.thankyou-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f5f7fa; */
  padding: 20px;
}

.thankyou-card {
  background: white;
  padding: 40px 35px;
  border-radius: 12px;
  max-width: 480px;
  width: 100%;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.6s ease-in-out;
}

.thankyou-title {
  font-size: 2rem;
  color: #012e51;
  margin-bottom: 20px;
  font-weight: bold;
}

.thankyou-message {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.brand {
  color: red;
  font-weight: bold;
}

.thankyou-blessing {
  font-size: 1rem;
  color: #555;
  /* font-style: italic; */
  margin-bottom: 20px;
}

.email{
    color: #0078d4;
}

.thankyou-footer {
  font-size: 0.95rem;
  color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-items-in-cart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center;     /* center horizontally */
  gap: 20px;
  width: 33vw;
}

.view-orders-button{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center;     /* center horizontally */
  gap: 15px;
  width: 20vw;
  background-color: #012e51;
  color: white;
}

.continue-shopping-button,
.view-orders-button {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.view-orders-button {
  background-color: #0b1a36;
  color: #fff;
  border: none;
}

.view-orders-button:hover {
  background-color: #1d3a6d;
}

.continue-shopping-button {
  background-color: transparent;
  color: #0b1a36;
  border: 2px solid #0b1a36;
}

.continue-shopping-button:hover {
  background-color: #f0f0f0;
}